# Ignore these files please :)
.idea
.idea/*
assets/.sass-cache
assets/.sass-cache/*
assets/css/master.css
assets/css/master.css.map
includes/dbh.inc.php
nbproject/private/
nbproject/project.xml
nbproject/project.properties
assets/sass/master.sass
