.header__main
  padding-top: 40px
  .header__search
    padding: 0 50px
    .header__search--input
      border: 1.5px solid $brand__button
      &:focus
        box-shadow: none
    .header__search--button
      border: 1.5px solid $brand__button
      background-color: $brand__button
      &:focus
        box-shadow: none
  .header__account
