.header__main
  padding-top: 40px
  a
    font-size: 16px
  .header__logo
    padding-bottom: 20px
  .header__search
    padding-bottom: 5px
    .header__search--input
      border: 1px solid $brand__button
      &:focus
        box-shadow: none
    .header__search--button
      border: 1px solid $brand__button
      background-color: $brand__button
      &:focus
        box-shadow: none
  .header__account
    text-align: right
    a
      &:first-child
        border-right: 2px solid $brand__button
        padding-right: 5px
        margin-right: 2px
  .header__divider
    padding: 4px
    border-bottom: 1px solid $brand__button
  .header__nav
    li
      display: inline-block
      padding: 10px
      &:first-child
        padding-left: 0


/*-- Desktop styles
@media only screen and (min-width: 960px)
  .header__main
    .header__logo
      padding-bottom: 0
    .header__search
      padding: 0 50px
      padding-top: 3px
    .header__account
      padding-top: 8px
    .header__divider
      padding: 10px
