.container
  .row
    .col-md-6
      picture
        img
          .car__image
          padding-top: 15px
          width: 100%
      h1
        padding-top: 10px

      button
        button__products
          border: 3px solid black
