
.product-item
  h6
    margin: 16px 0
    font-weight: 600

  .description
    font-size: 14px
    font-weight: 400
    margin: 16px 0
    overflow: hidden
    .toggle-desc
      max-height: 150px

  .show-desc
    width: 100%
    text-align: center
    margin: auto
.keypoint-container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  grid-column-gap: 16px
  grid-row-gap: 16px

  .car-keypoint
    display: inline-flex
    flex-direction: row
    justify-content: center
    align-items: center
    border: 2px solid #E0E0E0
    padding: 5px 10px
    p
      font-size: 12px
      margin: 0
      margin-right: 5px
      font-weight: 400
    span
      font-size: 13px
      margin-right: 5px
      font-weight: 600
.gear
  margin: 16px 0
  h6
    text-align: center
  ul li
    display: inline
    margin: 0 5px
    font-weight: 600
    font-size: 14px
  ul li::after
    content: ', '

@media (max-width: 1024px)
.keypoint-container
  grid-template-columns: 1fr 1fr 1fr 1fr

  .car-keypoint
    padding: 16px 10px

    p
      font-size: 16px
      margin: 0
      margin-right: 5px
      font-weight: 400

    span
      font-size: 17px
      margin-right: 5px
      font-weight: 600

@media (max-width: 767px)
  .car-keypoint
    display: inline-flex
    flex-direction: row
    justify-content: center
    align-items: center
    border: 2px solid #E0E0E0
    padding: 5px 10px
    p
      font-size: 12px
      margin: 0
      margin-right: 5px
      font-weight: 400
    span
      font-size: 13px
      margin-right: 5px
      font-weight: 600














































































































































































































body
  transform: rotate(0.5deg)
