
.product-item
  h6
    font-weight: 600
    text-transform: uppercase
    font-size: 18px
  .car-info
    background-color: #212121
    text-align: center
    min-width: 50%
    margin: auto
    padding: 12px 0
    color: #fff
    font-size: 14px
    font-weight: 600
    margin-bottom: 15px

    .car-info-splitter
      font-size: 20px
      margin: 0 10px

    .car-price::after
      content: ' kr. '

  .keypoint-container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    grid-column-gap: 16px
    grid-row-gap: 16px
    margin: 25px 0

    .car-keypoint
      display: inline-flex
      flex-direction: row
      justify-content: center
      align-items: center
      border: 2px solid #212121
      padding: 12px 10px
      font-weight: 600
      p
        font-size: 14px
        margin: 0
        margin-right: 8px
      span
        font-size: 16px
        margin-right: 8px

  .description
    overflow: hidden
    font-size: 16px
    h6
      font-size: 18px
    .toggle-desc
      max-height: 150px

  .show-desc
    width: 100%
    text-align: center
    margin: auto
    margin-top: 12px

  .buy-info
    margin: 16px 0
    button
      margin-bottom: 25px
      width: 100%
      border-radius: 4px
      padding: 12.5px 25px
      border: 2px solid $brand__button
      font-size: 14px
      font-weight: 700
      cursor: pointer
      display: block
      background-color: $brand__button
      color: #fff
    .sell-name
      text-align: center
      font-size: 16px
      text-transform: capitalize
    .sell-info h6
      text-align: center
      font-size: 16px
      font-weight: 400
      text-transform: capitalize

  .gear
    margin: 50px 0
    h6
      font-size: 18px
    ul li
      display: inline
      padding: 0 50px 0 0
      font-weight: 400
      font-size: 16px




@media (min-width: 1024px)
  .product-item
    margin: 50px 0
    .car-info
      background-color: #212121
      text-align: center
      min-width: 50%
      margin: auto
      padding: 20px 0
      color: #fff
      font-size: 18px
      text-transform: uppercase
      font-weight: 600
      margin-bottom: 50px

      .car-info-splitter
        font-size: 26px
        margin: 0 20px

      .car-price::after
        content: ' kr. '

    .keypoint-container
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-template-rows: 1fr
      grid-column-gap: 16px
      grid-row-gap: 16px
      margin-bottom: 50px

      .car-keypoint
        display: inline-flex
        flex-direction: row
        justify-content: center
        align-items: center
        border: 2px solid #212121
        padding: 16px 10px
        font-weight: 600
        p
          font-size: 14px
          margin: 0
          margin-right: 8px
        span
          font-size: 16px
          margin-right: 8px

    .description
      margin: 16px 0
      overflow: hidden
      font-size: 16px
      h6
        font-size: 18px
      .toggle-desc
        max-height: 150px

    .show-desc
      width: 100%
      text-align: center
      margin: auto

    .buy-info
      margin: 16px 0
      button
        margin-bottom: 25px
        width: 100%
        border-radius: 4px
        padding: 12.5px 25px
        border: 2px solid $brand__button
        font-size: 14px
        font-weight: 700
        cursor: pointer
        display: block
        background-color: $brand__button
        color: #fff
      .sell-name
        font-size: 16px
        text-transform: capitalize
        text-align: left
      .sell-info h6
        font-size: 16px
        font-weight: 400
        text-transform: capitalize
        text-align: left

    .gear
      margin: 16px 0
      h6
        font-size: 18px
      ul li
        display: inline
        padding: 0 50px 0 0
        font-weight: 400
        font-size: 16px
